body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    z-index: 50;
}

header img {
    border-radius: 50%;
    margin-top: 45%;
    margin-bottom: -30%;
}

header {
    position: fixed;
    background-color: #000000;
    color: white;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    text-align: left;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 10;
}

footer {
    position: fixed;
    background-color: #000000;
    color: black;
    width: 100%;
    height: 3%;
    bottom: 0;
    left: 0;
    min-width: 0%;
    font-size: 15px;
    padding-left: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 4;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.hh a:hover {
    color: rgb(124, 124, 124);
}

header img:hover {
    background-color: #1f2020;
}

a {
    text-decoration: none;
    color: white;
}

.textcontent {
    background: rgb(77, 69, 69);
    color: white;
    text-align: justify;
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    padding: 50px 50px 50px 50px;
    border-radius: 50px;
    margin-right: 20%;
    margin-left: 20%;
}

.sidenav {
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(63, 62, 62);
    background-image: linear-gradient(black, #7e7e80);
    overflow-x: visible;
    padding-top: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidenav hr {
    margin-right: 8px;
    margin-left: 8px;
    color: #828286;
}

.sidenav .ss {
    padding: 10px 8px 8px 10px;
    font-size: 15px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: visible;
    border: none;
    text-align: left;
    background-color: inherit;
    transform: scale(1);
}

.sidenav .ss:hover {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.459);
    transform: scale(1.01);
}

.sidenav .ss1 {
    padding: 10px 8px 8px 10px;
    font-size: 15px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: visible;
    border: none;
    text-align: left;
    background-color: inherit;
    transform: scale(1);
}

.sidenav .ss1:hover {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.459);
    transform: scale(1.01);
}

.sidenav a {
    padding: 10px 8px 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transform: scale(1);
}

.sidenav a:hover {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.459);
    transform: scale(1.01);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.job-det {
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #000000;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.job-det hr {
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    height: 50px;
    margin-top: -40px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 20px 20px -20px rgba(255, 255, 255, 0.541);
}

.job {
    border: 1px solid rgba(87, 45, 45, 0.473);
    margin-left: 15%;
    margin-right: 10%;
    padding-top: 20px;
    text-align: left;
    background-color: rgb(36, 36, 36);
    color: #ffffff;
}

.job a {
    margin-left: 5%;
    text-align: left;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.job td {
    margin-left: 5%;
    margin-top: 20px;
    font-size: 15px;
    padding-left: 35px;
    color: rgb(255, 255, 255);
}

.job .left_c {
    float: left;
    padding-left: 25px;
}

.job .right_c {
    float: right;
    padding-right: 40px;
}

.job .detail-cont td,
td a {
    font-weight: 600;
    color: rgba(216, 213, 213, 0.863);
}

.job .ss {
    font-size: 15px;
    font-weight: 600;
    color: rgba(216, 213, 213, 0.863);
    float: right;
    margin-right: 20px;
}

.profile {
    float: right;
}

.collapsible {
    background-color: rgb(80, 79, 79);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px;
    margin-left: 40%;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 15%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    font-weight: bolder;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(36, 36, 36);
}

.apply-job {
    border: 1px solid rgba(87, 45, 45, 0.473);
    margin-left: 15%;
    margin-right: 10%;
    text-align: left;
    background-color: rgb(54, 54, 54);
    color: #ffffff;
}

.custom-file-upload {
    border: 0px solid #ccc;
    background-color: rgb(4, 158, 158);
    display: inline-block;
    align-items: center;
    padding: 12px 12px;
    margin-left: 39%;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5%;
    text-align: center;
}

.detailed-details td,
a {
    color: #ffffff;
}

.detailed-details td a {
    color: #ffffff;
    font-size: 14px;
}

#myDIV {
    display: none;
    padding: 15px 25px;
    margin-top: 1%;
    text-align: center;
    background-color: rgb(78, 78, 78);
    background-image: linear-gradient(black, #0e263d);
    float: right;
    margin-right: 0px;
    z-index: 100;
}

#myDIV img {
    border-radius: 150px;
    height: 144px;
    width: 144px;
    margin-top: 30px;
    padding-top: 0px;
    margin-bottom: 10px;
    position: relative;
    background-color: whitesmoke;
    z-index: 100;
}

#mydiv input,
label {
    border-radius: 5px;
    margin-top: 0px;
    margin-top: 140px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 100;
    cursor: pointer;
    width: 900px;
    height: fit-content;
}

.go1 {
    display: block;
    cursor: pointer;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(65, 156, 152);
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 25%;
}

.remove {
    display: block;
    cursor: pointer;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(65, 156, 152);
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 20%;

}