{%block content%} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Remove Bekari | View Job Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'style/apply.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body background="{% static 'Images/logo.PNG' %}'">
    <header class="hh">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}"><img src="{% static 'Images/symbol.PNG' %}" alt="Opportunities is waiting for you..!!" height="40px" width="40px"></a>
                </li>

                <li><a href="{% url 'AboutUs' %}">ABOUT US</li></a>
                    <li><a href="{% url 'ContactUs' %}">CONTACT US</li></a>
                        <li><a href="{% url 'home' %}">LOGOUT</a></li>
                        <div class="profile">
                            <li>
                                <a onclick="myFunction()"> <img src="{{user_det}}" alt="Profile photo" height="40px" width="40px"></a>

                            </li>
                        </div>
            </ul>
            <div id="myDIV">
                <img src={{user_det}} alt="Profile photo">
                <br>
                <a>{{u_name}}</a>
                <br><br>
                <form action="EditJS" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <label for="file-upload1" class="custom-file-upload1">
                    <i class="fa fa-edit"></i> Edit Profile Photo
                    </label>
                    <br><br>

                    <input type="hidden" value="{{user_det}}" name="user_det">
                    <input type="hidden" value="{{u_name}}" name="u_name">
                    <input id="file-upload1" name="js_profile_pic" type="file" accept="image/*" style="display:none;"><br><br>
                    <input type="hidden" value="go" name="pro">
                    <button class="go1" type="submit" id="myBtn">Go</button>
                    
                </form>
                <form action="EditJS" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    
                    <input type="hidden" value="{{user_det}}" name="user_det">
                    <input type="hidden" value="{{u_name}}" name="u_name">
                    <input id="file-upload1" name="js_profile_pic" type="file" accept="image/*" style="display:none;"><br><br>
                    <input type="hidden" value="remove" name="pro">
                    <button class="remove" type="submit" id="myBtn">Remove</button>
               </form>
            </div>
        </nav>
    </header>

    <div class="sidenav">

        <form action="HJS_" method="POST">
            {%csrf_token%}
            <input type="hidden" value="{{u_name}}" name="u_name">
            <input type="hidden" value="{{user_det}}" name="user_det">
            <button class="ss" type="submit">Home</button>
        </form>
        <hr>
        <form action="HJS_" method="POST">
            {%csrf_token%}
            <input type="hidden" value="{{u_name}}" name="u_name">
            <input type="hidden" value="{{user_det}}" name="user_det">
            <button class="ss" type="submit">Find Job</button>
        </form>
        <hr>
        <form action="Jstatus" method="POST">
            {%csrf_token%}
            <input type="hidden" value="{{u_name}}" name="u_name">
            <input type="hidden" value="{{user_det}}" name="user_det">
            <button class="ss" type="submit">Check Status</button>
        </form>
        <hr>
        <form action="updateJS" method="POST">
            {%csrf_token%}
            <input type="hidden" value="{{u_name}}" name="u_name">
            <input type="hidden" value="{{user_det}}" name="user_det">
            <button class="ss1" type="submit">Update Profile</button>
        </form>
        <hr>
    </div>
    <div class="job-det" style="padding-top: 5%;">
        <a style="color: rgb(255, 255, 255);">Job Detail</a>
        <hr>
    </div>

    <!--for loop start-->
    <div class="job-det">
        <div class="job">
            <br>
            <div class="left_c">
                <a style="font-weight: bold;">{{category}}</a>
                <!--Category name-->
                <a>{{company_name}}</a>
                <!--Company name--><br>
                <a>Location(s):</a><a>{{location}}</a>
                <!--Location--><br>
            </div>

            <div class="right_c">
                <a>
                    <img src="{{path}}" alt="Profile photo" height="80px" width="80px">
                </a>
            </div>
            <br><br><br>
            <br>
            <table>
                <tr class="detail-cont">
                    <td>Start Date</td>
                    <td>Duration</td>
                    <td>Stipend</td>
                    <td>Posted On</td>
                    <td>Apply By</td>
                </tr>

                <tr>
                    <td>{{start_date}}</td>
                    <td>{{duration}}</td>
                    <td>{{salary}}</td>
                    <td>{{posted_on}}</td>
                    <td>{{apply_by}}</td>
                </tr>
            </table>
            <br>
            <a>Other Details:</a>
            <div class="detailed-details">

                <table>

                    <tr>
                        <td style="font-weight: bold; color: rgba(216, 213, 213, 0.863);;">Position:</td>
                        <td>{{position}}</td>
                    </tr>

                    <tr>
                        <td style="font-weight: bold; color: rgba(216, 213, 213, 0.863);;">Requirements:</td>
                        <td>{{requirment}}</td>
                    </tr>

                    <tr>
                        <td style="font-weight: bold; color: rgba(216, 213, 213, 0.863);;">Salary:</td>
                        <td>{{salary}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; color: rgba(216, 213, 213, 0.863);;">Vacancy:</td>
                        <td>{{vacancy}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; color: rgba(216, 213, 213, 0.863);;">Experience:</td>
                        <td>{{experience}} years</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; color: rgba(216, 213, 213, 0.863);;">Perks:</td>
                        <td>{{perks}}</td>
                    </tr><br>

                    <tr>
                        <td style="font-weight: bold; color: rgba(216, 213, 213, 0.863);;">Description:</td>
                        <td style="text-align: justify;">{{description}}</td>
                    </tr>

                </table>

            </div>
            <button type="submit" class="collapsible">APPLY NOW</button>
            <div class="content">

                <!--form action="UpResume" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <label for="file-upload" class="custom-file-upload">
                          <i class="fa fa-cloud-upload"></i> Upload Resume
                    </label>
                    
                    <input type="hidden" value="{{u_name}}" name="u_name">
                    <input type="hidden" value="{{user_det}}" name="user_det">
                    <input type="hidden" value="{{position}}" name="position">
                    <input type="hidden" value="{{company_name}}" name="company_name">
                    <input type="hidden" value="{{category}}" name="category">
                    <input type="hidden" value="{{job_id}}" name="job_id">
                    <input id="file-upload" name="resume" type="file" required>
                    
                    
                    <input class="go" type="submit" value="GO!">
                </form-->
                <form action="UpResume" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <label for="file-upload" class="custom-file-upload">
                          <i class="fa fa-cloud-upload"></i> Upload Resume
                        </label>
                    <input id="file-upload" name="resume" type="file" accept="application/pdf"  style="display:none;" required>
                    <input type="hidden" value="{{u_name}}" name="u_name">
                    <input type="hidden" value="{{user_det}}" name="user_det">
                    <input type="hidden" value="{{position}}" name="position">
                    <input type="hidden" value="{{company_name}}" name="company_name">
                    <input type="hidden" value="{{category}}" name="category">
                    <input type="hidden" value="{{job_id}}" name="job_id">
                    <!--input id="file-upload" name="resume" type="file" style="display:none;"-->
                    <input class="go" type="submit" value="GO!">
                </form>
                <!--form action="UpResume" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    
                    <input type="hidden" value="{{u_name}}" name="u_name">
                    <input type="hidden" value="{{user_det}}" name="user_det">
                    <input type="hidden" value="{{position}}" name="position">
                    <input type="hidden" value="{{company_name}}" name="company_name">
                    <input type="hidden" value="{{category}}" name="category">
                    <input type="hidden" value="{{job_id}}" name="job_id">
                    
                    <input  name="resume" type="file" required>
                    <input  type="submit" value="GO!">
                    
                </form-->
            </div>

        </div>
    </div>


    <footer class="ff">
        <ul style="float: left;">
            <li><a style="text-transform: uppercase;font-weight: 100;"> 11 , Safal square , VIP road , Surat , Gujarat-395007 &nbsp | &nbsp Contact Info &nbsp : &nbsp +91 9898989898 &nbsp | &nbsp +91 77077878787 &nbsp | &nbsp </li></a>
                <li>
                    <a href="http://www.facebook.com/"><i class="fa fa-facebook"></i></li>
                </a>
                    <li>
                        <a href="http://www.twitter.com/"><i class="fa fa-twitter"></i></li>
                    </a>
                        <li>
                            <a href="http://www.instagram.com/"><i class="fa fa-instagram"></i></li>
						</a>
                            <li>
                                <a href="http://www.linkedin.com/"><i class="fa fa-linkedin"></i></li>
                        </a>
        </ul>
    </footer>
    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        $('#file-upload').change(function() {
            var i = $(this).prev('label').clone();
            var file = $('#file-upload')[0].files[0].name;
            $(this).prev('label').text(file);
        });
    </script>

</body>

</html>
{%endblock%}