{%block content%} {% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Remove Bekari | Log In</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/log.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="hh">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}"><img src="{% static 'Images/symbol.PNG' %}" alt="Opportunities is waiting for you..!!" height="40px" width="40px"></a>
                </li>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'login' %}">LOG IN</li></a>
                    <li><a href="{% url 'AboutUs' %}">ABOUT US</li></a>
                        <li><a href="{% url 'ContactUs' %}">CONTACT US</li></a>
            </ul>
        </nav>
    </header>

    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <form action="login" method="POST">
                    {% csrf_token %}
                    <h3 style="font-family:cursive;">Welcome</h3>
                    <input type="text" class="form-control" placeholder="Username *" value="" name="u_name" />
                    <div>
                        <input type="password" class="form-control" placeholder="Password *" value="" id="pwd" name="pwd" pattern="(?=.*\d)(?=.*[a-z]).{8,}" title="Must contain at least one number and lowercase letter, and at least 8 or more characters" required>
                        <span toggle="#pwd" class="fa fa-fw fa-eye field-icon toggle-password" style="float: right; margin-top: 25px;"></span>
                    </div>
                    <div class="custom-select" style="width:390px;">
                        <select id="select1" name="user_type" required>
                            <option >Select user type:</option>
                            <option >Job Provider</option>
                            <option >Job Seeker</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">
                        <a href="{% url 'username' %}" type="forpassword" class="ForgetPwd">Forgot Password?</a>
                    </div>
                </form>

                <div class="invalid-1">
                    {%for message in messages%}
                    <p>{{message}}</p>
                    {%endfor%}
                </div>

            </div>
        </div>
    </div>

    <script>
        // Script For Display the password  
        $(".toggle-password").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        //-------------------------------------------------------
    </script>

    <script>
        var x, i, j, selElmnt, a, b, c;
        /*look for any elements with the class "custom-select":*/
        x = document.getElementsByClassName("custom-select");
        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            /*for each element, create a new DIV that will act as the selected item:*/
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            /*for each element, create a new DIV that will contain the option list:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 1; j < selElmnt.length; j++) {
                /*for each option in the original select element,
                create a new DIV that will act as an option item:*/
                c = document.createElement("DIV");
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function(e) {
                    /*when an item is clicked, update the original select box,
                    and the selected item:*/
                    var y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function(e) {
                /*when the select box is clicked, close any other select boxes,
                and open/close the current select box:*/
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
            });
        }

        function closeAllSelect(elmnt) {
            /*a function that will close all select boxes in the document,
            except the current select box:*/
            var x, y, i, arrNo = [];
            x = document.getElementsByClassName("select-items");
            y = document.getElementsByClassName("select-selected");
            for (i = 0; i < y.length; i++) {
                if (elmnt == y[i]) {
                    arrNo.push(i)
                } else {
                    y[i].classList.remove("select-arrow-active");
                }
            }
            for (i = 0; i < x.length; i++) {
                if (arrNo.indexOf(i)) {
                    x[i].classList.add("select-hide");
                }
            }
        }
        /*if the user clicks anywhere outside the select box,
        then close all select boxes:*/
        document.addEventListener("click", closeAllSelect);
    </script>

    <footer class="ff">
        <ul style="float: left;">
            <li><a style="text-transform: uppercase;font-weight: 100;"> 11 , Safal square , VIP road , Surat , Gujarat-395007 &nbsp | &nbsp Contact Info &nbsp : &nbsp +91 9898989898 &nbsp | &nbsp +91 77077878787 &nbsp | &nbsp </li></a>
                <li>
                    <a href="http://www.facebook.com/"><i class="fa fa-facebook"></i></li>
            </a>
                    <li>
                        <a href="http://www.twitter.com/"><i class="fa fa-twitter"></i></li>
                </a>
                        <li>
                            <a href="http://www.instagram.com/"><i class="fa fa-instagram"></i></li>
                    </a>
                            <li>
                                <a href="http://www.linkedin.com/"><i class="fa fa-linkedin"></i></li>
                    </a>
        </ul>
    </footer>

</body>

</html>
{%endblock%}