{%block content%}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Remove Bekari | Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/log.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="hh">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}"><img src="{% static 'Images/symbol.PNG' %}" alt="Opportunities is waiting for you..!!" height="40px" width="40px"></a>
                </li>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'AboutUs' %}">ABOUT US</li></a>
                    <li><a href="{% url 'ContactUs' %}">CONTACT US</li></a>
            </ul>


        </nav>
    </header>

    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <form action="SavePass" method="POST">
                    {% csrf_token %}
                    <h3 style="font-family: cursive;">Reset Password </h3>
                    <input type="text" name="u_name" id="u_name" size="30" readonly>

                    <script type="text/javascript">
                        var security_que = '{{u_name}}';
                        document.getElementById('u_name').value = security_que;
                    </script>

                    <div>
                        <input type="password" class="form-control" placeholder="New-Password*"  id="psw" name="pwd" pattern="(?=.*\d)(?=.*[a-z]).{8,}" title="Must contain at least one number and lowercase letter, and at least 8 or more characters" required>
                        <span toggle="#psw" class="fa fa-fw fa-eye field-icon toggle-password" style="float: right; margin-top: 25px;"></span>
                    </div>
                    <div>
                        <input type="password" name="paddress" placeholder="Retype-Password*" id="paddress" size="30" required>
                        <span toggle="#paddress" class="fa fa-fw fa-eye field-icon toggle-password" style="float: right; margin-top: 25px;"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Go" />
                    </div>
                </form>
                    <div id="message">
                        <h7>Password must contain the following:</h7>
                        <br>
                        <p id="letter" class="invalid">A lowercase letter</p>
                        <p id="number" class="invalid">A number must be present</p>
                        <p id="length" class="invalid">Minimum 8 characters</p>
                    </div>
                    <!--div class="form-group">
                        <input type="submit" class="btnSubmit" value="Reset Password" />
                    </div-->
                    

                
            </div>
        </div>
    </div>


    <footer class="ff">
        <ul style="float: left;">
            <li><a style="text-transform: uppercase;font-weight: 100;"> 11 , Safal square , VIP road , Surat , Gujarat-395007 &nbsp | &nbsp Contact Info &nbsp : &nbsp +91 9898989898 &nbsp | &nbsp +91 77077878787 &nbsp | &nbsp </li></a>
                <li>
                    <a href="http://www.facebook.com/"><i class="fa fa-facebook"></i></li>
                </a>
                    <li>
                        <a href="http://www.twitter.com/"><i class="fa fa-twitter"></i></li>
                    </a>
                        <li>
                            <a href="http://www.instagram.com/"><i class="fa fa-instagram"></i></li>
						</a>
                            <li>
                                <a href="http://www.linkedin.com/"><i class="fa fa-linkedin"></i></li>
                        </a>
        </ul>
    </footer>

    <script>
        var myInput = document.getElementById("psw");
        var letter = document.getElementById("letter");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        // When the user clicks on the password field, show the message box
        myInput.onfocus = function() {
            document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function() {
            document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function() {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if (myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if (myInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            // Validate length
            if (myInput.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }
        }
    </script>
    <script>
        // Script For Password and Re Type password must be same 
        
        //-------------------------------------------------------
        var password = document.getElementById("psw"),
            confirm_password = document.getElementById("paddress");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
        // Script For Display the password  
        $(".toggle-password").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        //-------------------------------------------------------
    </script>


</body>

</html>
{%endblock%}