{%block content%} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Remove Bekari | Update JD</title>
    <link rel="stylesheet" href="{% static 'style/JobDetails.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background-image: linear-gradient(black, #7e7e80);">
    <header class="hh">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}"><img src="{% static 'Images/symbol.PNG' %}" alt="Opportunities is waiting for you..!!" height="40px" width="40px"></a>
                </li>
                <li><a href="{% url 'AboutUs' %}">ABOUT US</li></a>
                    <li><a href="{% url 'ContactUs' %}">CONTACT US</li></a>
                        <li><a href="{% url 'home' %}">LOG OUT</li></a>
                            <div class="profile">
                                <li>
                                    <a onclick="myFunction()"><img src={{path}} alt="Profile photo" height="40px" width="40px"> </a>

                                </li>
                            </div>
            </ul>
            <div id="myDIV">
                <img src={{path}} alt="Profile photo">
                <br>
                <a>{{u_name}}</a>
                <br><br>
                <form action="EditPP" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <label for="file-upload1" class="custom-file-upload1">
                <i class="fa fa-edit"></i> Edit Profile Photo
                </label>
                    <input type="hidden" value="{{company_id}}" name="company_id">
                    <input type="hidden" value="{{path}}" name="path">
                    <input type="hidden" value="{{u_name}}" name="u_name">
                    <input id="file-upload1" name="company_logo" type="file" accept="image/*" style="display:none;"><br><br>
                    <input type="hidden" value="go" name="pro">
                    <button class="go" type="submit" id="myBtn">Go</button>
                </form>
                <form action="EditPP" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <input type="hidden" value="{{company_id}}" name="company_id">
                    <input type="hidden" value="{{path}}" name="path">
                    <input type="hidden" value="{{u_name}}" name="u_name">
                    <input id="file-upload1" name="company_logo" type="file" accept="image/*" style="display:none;"><br><br>
                    <input type="hidden" value="remove" name="pro">
                    <button class="remove" type="submit" id="myBtn">Remove</button>

                </form>
            </div>
        </nav>
    </header>

    <div class="sidenav">
        <form action="HJP" method="POST">
            {%csrf_token%}
            <input type="hidden" value="{{company_id}}" name="company_id">
            <input type="hidden" value="{{path}}" name="path">
            <input type="hidden" value={{u_name}} name="u_name">
            <input type="hidden" name="flag" value="{{flag}}">
            <button class="ss" type="submit">Home</button>
        </form>
        <hr>
        
        <form action="updateJP" method="POST">
            {%csrf_token%}
            <input type="hidden" value="{{company_id}}" name="company_id">
            <input type="hidden" value="{{path}}" name="path">
            <input type="hidden" value="{{u_name}}" name="u_name">
            <input type="hidden" name="flag" value="{{flag}}">
            <button class="ss1" type="submit">Update Profile</button>
        </form>
        <hr>
        
    </div>

    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">

                <form action="UPJD" method="POST">
                    <h3 style="height: 60px;background-image: linear-gradient(rgb(6, 38, 41),black );">Update Job Details</h3>
                    {%csrf_token%}

                    <div>
                        <label type=label>Comapny ID : </label>
                        <input type=text name="company_id" id="company_id" placeholder="Comapny ID*" value={{company_id}} size="30" style="float:right" readonly/>
                        <script type="text/javascript">
                            var company_id = '{{company_id}}';
                            document.getElementById('company_id').value = company_id;
                        </script>
                    </div>

                    <div>
                        <label type=label>Comapny Name : </label>
                        <input type=text name="company_name" placeholder="Company Name*" id="company_name" size="30" style="float:right" readonly/>
                        <script type="text/javascript">
                            var company_name = '{{company_name}}';
                            document.getElementById('company_name').value = company_name;
                        </script>
                    </div>

                    <div>
                        <label type=label>Job Id :</label>
                        <input type=text name="jd_job_id" value="{{job_id}}" placeholder="Job ID*" id="jd_job_id" size="30" style="float:right" required/>
                    </div>

                    <label type=label>Position :</label>
                    <div class="custom-select">
                        <select id="select" type=select name="jd_position" width="300" style="float:right;" required>
							<option >Select Position </option>
							<option >Accountant</option>
							<option >Back Office Assistant</option>
							<option >Content Writer</option>
							<option >Graphic Designer</option>
							<option >Manager</option>
							<option >Marketing Department</option>
							<option >Production Department</option>
							<option >Project Manager</option>
							<option >Receptionist</option>
							<option >Technical Department</option>
							<option >Other</option>
						</select>
                    </div>
                    <script type="text/javascript">
                        var security_que = '{{jd_position}}';
                        document.getElementById('select').value = security_que;
                    </script>
                    <div>
                        <label type=label>Loaction :</label>
                        <input type=text style="float:right;" name="jd_location" value="{{JD.jd_location}}" placeholder="Loaction*" id="textname" size="30" required/>
                    </div>
                    <label type=label>Category :</label>
                    <div class="custom-select">
                        <select id="select1" style="float:right;" type=select width="300" style="float:right" name="jd_category" required>
							<option >Select Your Category </option>
							<option >Android App Developer</option>
							<option >Articial Intelligence</option>
							<option >Backend Developer</option>
							<option >Data Science</option>
							<option >Finance</option>
							<option >Full Stack Developer</option>
							<option >Graphic Designer</option>
							<option >Health Science</option>
							<option >Information Technology</option>
							<option >Machine Learning</option>
							<option >Manufacturing</option>
							<option >Marketing</option>
							<option >Software Enginerr</option>
							<option >Transportation,Distribution and Logistic</option>
							<option >Web Developer</option>
							<option >Other</option>
						</select>

                    </div>
                    <script type="text/javascript">
                        var security_que = '{{jd_category}}';
                        document.getElementById('select1').value = security_que;
                    </script>
                    <div>
                        <label type=label>Skills Required :</label>
                        <input type=text style="float:right;" name="jd_skills_required" value="{{JD.jd_skills_required}}" placeholder="Skills Required*" id="textname" size="30" required/>
                    </div>
                    <div>
                        <label type=label>Salary :</label>
                        <input type=text style="float:right;" name="jd_salary" value="{{JD.jd_salary}}" placeholder="Salary" id="textname" size="30" />
                    </div>
                    <div>
                        <label type=label>Vacancy :</label>
                        <input type=text style="float:right;" name="jd_vacancy" value="{{JD.jd_vacancy}}" placeholder="Vacancy*" id="textname" size="30" required/>
                    </div>
                    <div>
                        <label type=label>Min Experience:</label>
                        <input type=text style="float:right;" name="jd_experience" value="{{JD.jd_experience}}" placeholder="Required experience in years" id="textname" size="30" />
                    </div>
                    <div>
                        <label type=label>Perks :</label>
                        <input type=text style="float:right;" name="jd_perks" value="{{JD.jd_perks}}" placeholder="Perks" id="textname" size="30" />
                    </div>
                    <div>
                        <label type=label>Job Description :</label>
                        <input type=text name="jd_description" style="float:right;" value="{{JD.jd_description}}" placeholder="Description" id="textname" size="30" />
                    </div>
                    <div>
                        <label type=label>Start Date :</label>
                        <input type="date" style="float:right;" name="jd_start_date" value="{{jd_start_date}}" size="30" required>
                        
                    </div>
                    <div>
                        <label type=label>Apply By :</label>
                        <input type="date" style="float:right;margin-left: 0;" value="{{jd_apply_by}}" name="jd_apply_by" size="30" required>
                    </div>
                    <div>
                        <label type=label>Min Duration :</label>
                        <input type=text style="float:right;" name="jd_duration" value="{{JD.jd_duration}}" placeholder="Duration in years" id="textname" size="30" required/>
                    </div>
                    <br>
                    <input type="hidden" name="jd_posted_on" id="today">
                    <input type="hidden" value="update" name="reset">
                    <input type="hidden" value="{{u_name}}" name="u_name">
                    <button class="update" type="submit" id="myBtn">Update</button>
                    <!--onclick="reset()"-->
                </form>
                <form action="UPJD" method="POST">
                    {%csrf_token%}
                    <input type="hidden" value="{{u_name}}" name="u_name">
                    <input type="hidden" value="{{company_id}}" name="company_id">
                    <input type="hidden" value="{{path}}" name="path">
                    <input type="hidden" value="{{company_name}}" name="company_name">
                    <input type="hidden" value="{{job_id}}" name="job_id">
                    <input type="hidden" value="reset" name="reset">
                    <input type="hidden" name="jd_posted_on" id="today">
                    <button class="reset" type="submit" id="myBtn">Reset</button>
                    <!--onclick="reset()"-->
                </form>
                <form action="UPJD" method="POST">
                    {%csrf_token%}
                    <input type="hidden" value="{{u_name}}" name="u_name">
                    <input type="hidden" value="{{company_id}}" name="company_id">
                    <input type="hidden" value="{{path}}" name="path">
                    <input type="hidden" value="delete" name="reset">
                    <input type="hidden" value="{{company_name}}" name="company_name">
                    <input type="hidden" value="{{job_id}}" name="job_id">
                    <input type="hidden" name="jd_posted_on" id="today">
                    <button class="delete" type="submit" id="myBtn">Delete Job</button>
                    <!--onclick="reset()"-->
                </form>
            </div>
        </div>
    </div>
    <script>
        function getDate() {
            var todaydate = new Date();
            var day = todaydate.getDate();
            var month = todaydate.getMonth() + 1;
            var year = todaydate.getFullYear();
            var datestring = day + " - " + month + " - " + year;
            document.getElementById("today").value = datestring;
        }
        getDate();
    </script>

    <footer class="ff">
        <ul style="float: left;">
            <li><a style="text-transform: uppercase;font-weight: 100;"> 11 , Safal square , VIP road , Surat , Gujarat-395007 &nbsp | &nbsp Contact Info &nbsp : &nbsp +91 9898989898 &nbsp | &nbsp +91 77077878787 &nbsp | &nbsp </li></a>
                <li>
                    <a href="http://www.facebook.com/"><i class="fa fa-facebook"></i></li>
                </a>
                    <li>
                        <a href="http://www.twitter.com/"><i class="fa fa-twitter"></i></li>
                    </a>
                        <li>
                            <a href="http://www.instagram.com/"><i class="fa fa-instagram"></i></li>
						</a>
                            <li>
                                <a href="http://www.linkedin.com/"><i class="fa fa-linkedin"></i></li>
                        </a>
        </ul>
    </footer>

    <script>
        var x, i, j, selElmnt, a, b, c;
        /*look for any elements with the class "custom-select":*/
        x = document.getElementsByClassName("custom-select");
        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            /*for each element, create a new DIV that will act as the selected item:*/
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            /*for each element, create a new DIV that will contain the option list:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 1; j < selElmnt.length; j++) {
                /*for each option in the original select element,
                create a new DIV that will act as an option item:*/
                c = document.createElement("DIV");
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function(e) {
                    /*when an item is clicked, update the original select box,
                    and the selected item:*/
                    var y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function(e) {
                /*when the select box is clicked, close any other select boxes,
                and open/close the current select box:*/
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
            });
        }

        function closeAllSelect(elmnt) {
            /*a function that will close all select boxes in the document,
            except the current select box:*/
            var x, y, i, arrNo = [];
            x = document.getElementsByClassName("select-items");
            y = document.getElementsByClassName("select-selected");
            for (i = 0; i < y.length; i++) {
                if (elmnt == y[i]) {
                    arrNo.push(i)
                } else {
                    y[i].classList.remove("select-arrow-active");
                }
            }
            for (i = 0; i < x.length; i++) {
                if (arrNo.indexOf(i)) {
                    x[i].classList.add("select-hide");
                }
            }
        }
        /*if the user clicks anywhere outside the select box,
        then close all select boxes:*/
        document.addEventListener("click", closeAllSelect);
    </script>


</body>

</html>
{%endblock%}